/*

Blue 		#325cab
Green		#6fb944
Orange		#ee7422

*/

/* Getting the new tags to behave */
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video {
	display:block;
}

mark,rp,rt,ruby,summary,time {
	display:inline;
}


	
/* Global properties ======================================================== */
body {
	background: #fff;
}

html {
	min-width:980px;
}

html,body {
	height:100%;
}

*{
	outline: none;
}

	
/* Header */
header {

}
	
/* Content */
#content {
}

#content .top {
	background:#fff;
	padding:29px 0 0px;
}

#content .top > div.container{
	padding-bottom: 20px;
}

#content .middle {
	border-top:6px solid #f4f4f4;
	background:#f9f9f9;
	padding:44px 0 50px;
}

#content .bottom {
	border-top:6px solid #9a9a9a;
	background: #ddd;
	padding:30px 0 40px;
	color: #333;
}

#content .bottom h3 {
	color:#444;
	text-shadow: 1px 1px 1px #fff;
	border-bottom: 1px solid #fff;
	position: relative;
	padding: 0 0 5px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-family:GilgongoRegular;
	letter-spacing: 0em;
}


#content .bottom h3:before {
	content: " ";
	display: block;
	border-bottom: 1px solid #aaa;
	position: absolute;
	bottom: 0; left: 0; right: 0;
}

#content .bottom a.alt {
	color:#06cbe2;
}


	
/* Left & Right alignment */
.fleft {
	float:left;
}

.fright {
	float:right;
}

.clear {
	clear:both;
}

.alignright {
	text-align:right;
}

.aligncenter {
	text-align:center;
}

.wrapper {
	width:100%;
	overflow:hidden;
}

::-moz-selection {
	background:#f24c15;
	color:#fff;
}

::selection {
	background:#f24c15;
	color:#fff;
}


	
/*----- form defaults -----*/
input,select,textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
}

input.text, textarea{
	border: 1px solid #CCC;
	padding: 6px;
	width: 90%;
}

input.text:focus, textarea:focus{
	background: #FFFFE8;
}

input[type="submit"]{
	border: 0;
	background: #325cab;
	color: #FFF;
	padding: 6px 12px;
	display: inline-block;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	border-radius: 5px; /* Opera 10.5, IE 9 */
	-moz-transition: all 0.3s ease-out;  /* FF3.7+ */
	-o-transition: all 0.3s ease-out;  /* Opera 10.5 */
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
}

input[type="submit"]:hover{
	background: #243C6F;
	cursor:pointer;
}

form label{
	font-weight: bold;
	color: #777;
}

form ul.optionset label{
	font-weight: normal;
	color: #666;
}

form .optionset li{
	margin-bottom: 5px;
}

.middleColumn{
	margin-bottom: 10px;
}

.field .required{
	color: red;
	display: block;
}

.floatForm label, .floatForm .fieldRow .middleColumn{
	float: left;
}

.floatForm .field label{
	margin: 5px 5px 0 0;
}

.floatForm .dropdown label{
	margin-top: 2px;
}

.floatForm .fieldRow .middleColumn{

}

.floatForm .fieldRow .field{
	float: left;
	margin-right: 20px;
}




	
/*----- other -----*/
.img-indent {
	margin:0 20px 0 0;
	float:left;
}

.img-box {
	width:100%;
	overflow:hidden;
	padding-bottom:22px;
}

.img-box figure {
	float:left;
	margin:4px 25px 0 3px;
	border:5px solid #fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 5px rgba(0,0,0,.1);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.1);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.1);
}

.img-wrap {
	padding-bottom:18px;
}

figure.framed {
	display: inline-block;
	border:5px solid #fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 5px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.2);
}

figure.framed img{
	max-width: 100%;
	height: auto;
}

.img-wrap figure a, .img-wrap figure img{
	display: block;
}
.extra-wrap {
	overflow:hidden;
}



.boxTitle{	
	color: #FFF;
	padding: 5px 10px;
	background: #325cab;
	margin: 0 0 10px;
}

.boxTitle a{
	color: #FFF;
	display: block;
}	

.boxTitle a:hover{
	text-decoration: none;
}

.txt1 {
}

.txt2 {
}

.more {
	background:url(../images/arrow2.gif) no-repeat 100% 5px;
	padding-right:17px;
	font-weight:bold;
}

.button {
	display: inline-block;
	padding: 4px 8px;
	background: #325CAB;
	color: #fff;
	margin: 0 10px 20px 0;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}

.button:hover{
	background: #243C6F;
	text-decoration: none;
}

.line-hor {
	background:#3a3c52;
	height:1px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:20px 0;
}

.line-ver {
	background-image:url(images/line-ver.gif);
	background-repeat:repeat-y;
	width:100%;
}


	
/*==================boxes====================*/
.box {
	background:#fff;
	width:100%;
}

.box .border-top {
	background:url(images/border-top.gif) repeat-x left top;
}

.box .border-bot {
	background:url(images/border-bot.gif) repeat-x left bottom;
}

.box .border-left {
	background:url(images/border-left.gif) repeat-y left top;
}

.box .border-right {
	background:url(images/border-right.gif) repeat-y right top;
}

.box .left-top-corner {
	background:url(images/left-top-corner.gif) no-repeat left top;
}

.box .right-top-corner {
	background:url(images/right-top-corner.gif) no-repeat right top;
}

.box .left-bot-corner {
	background:url(images/left-bot-corner.gif) no-repeat left bottom;
}

.box .right-bot-corner {
	background:url(images/right-bot-corner.gif) no-repeat right bottom;
}

.box .inner {
	padding:0;
}

.address {
	float:left;
}

.address dt {
	margin-bottom:1.5em;
}

.address dd {
	clear:both;
	text-align:right;
}

.address dd span {
	float:left;
	padding-right:25px;
}

.address dd a {
	color:#06cbe2;
}

.departments {
	float:left;
	overflow:hidden;
	margin-top:-18px;
}

.departments dt {
	font-weight:bold;
	color:#f24c15;
	margin-top:18px;
}

.departments dd {
	clear:both;
	text-align:right;
}

.departments dd span {
	float:left;
	padding-right:25px;
}


	
/*===== header =====*/
header{
	background: url(../images/headerbg.jpg) top center repeat-x transparent;
}


header a#logo {
	background:url(../images/logo.png) no-repeat 0 0;
	background-position: 0 10px;
	font-family:GilgongoRegular;
	font-size:26px;
	line-height:1.2em;
	color:#FFF;
	display: block;
	height: 80px;
	padding: 65px 0 0 170px;
}

header a#logo {
	color:#fff;
	text-decoration:none;
}

header a#logo strong {
	font-family:GilgongoRegular;
	font-weight:normal;
}

/* Nav
/*********************************/

header nav {
	padding: 0;
}

#mainmenu {
	padding: 0;
}

#mainmenu li {
	float:left;
}

#mainmenu li a {
	position:relative;
	float:left;
	font-size:12px;
	color:#fff;
	text-decoration:none;
	font-family:GilgongoRegular;
	text-transform:uppercase;
	height:39px;
	line-height:35px;
	padding:0 15px 0 15px;
}

#mainmenu li ul.level2 {
	visibility: hidden;
	position:absolute;
	top: 39px;
	padding:0;
	background:#FFF;
	z-index:100;
	min-width: 320px;
	box-shadow:0 0 3px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);
}

#mainmenu li ul.level2 a{
	font-weight: bold;
}

#mainmenu li ul li {
	float:none;
	display:block;
	border:none;
	text-align:left;
	margin: 0;
	padding:0;
}

#mainmenu li ul li a{
	float: none;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	margin:0!important;
	padding: 0 15px;
	line-height: 32px;
	height: auto;
}

#mainmenu li ul li a:hover {
	background: #c9e3e9;
}

#mainmenu li ul.level3 li a{
	padding-left: 24px;
	color: #666;
	font-weight: normal;
}

#mainmenu li#mainmenu_hover {
	background:#000;
}

#mainmenu li.parent a#mainmenu_hover {
	color:#fff;
	margin:0 8px;
	padding-right:12px;
	border-bottom:1px solid #fff;
	padding-bottom:10px;
}

header nav ul li a:hover,header nav ul li.current a, header nav ul li.section a {
	text-decoration: none;
}

header nav ul li a:before{
	content: " ";
	background: transparent;
	-webkit-transition: background .3s linear;  
    -moz-transition: background .3s linear;  
    -o-transition: background .3s linear;  
    -ms-transition: background .3s linear;  
    transition: background .3s linear;
}

header nav ul li a:hover:before, nav ul li.current a:before, header nav ul li.section a:before{
	content: " ";
	position: absolute; 
	top: 0; left: 0; right: 0; bottom: 0;
	background: #FFF;
	opacity: 0.3;
	-moz-opacity: 0.3;
	filter:alpha(opacity=3);
}

html.ie header nav ul li a:hover:before, html.ie nav ul li.current a:before, header nav ul li.section a:before{
	display: none;
}

header .adv-content {
	overflow:hidden;
	background:#EFEFEF;
	padding:10px 0 3px;
}

header .breadcrumbs {
	float:left;
	padding: 5px 0 0 10px;
}

header .breadcrumbs span.arrow {
	display: inline-block;
	margin: 4px 5px 0; 
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #999;
}

header .breadcrumbs .home{
	font-size: 18px;
	margin-right: 3px;
	color: #AAA;
	position: relative;
	top: -3px;
}


	
/*===== content =====*/
#content {
}

#gallery {
	float:left;
	width:582px;
	height:384px;
}

.pics {
	width:582px;
	height:384px;
	padding:0;
	margin:0;
	position:relative;
	margin:23px 0 0 36px;
}

.pics img {
	display:block!important;
	position:absolute;
	width:495px;
	height:329px;
	top:0;
	left:0;
	border:5px solid #fff;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0 0 3px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.2);
}

.pics img:nth-child(2) {
	-moz-transform:rotate(2.5deg);
	-o-transform:rotate(2.5deg);
	-webkit-transform:rotate(2.5deg);
}

.pics img:nth-child(3) {
	-moz-transform:rotate(-2.5deg);
	-o-transform:rotate(-2.5deg);
	-webkit-transform:rotate(-2.5deg);
}

.pics img:nth-child(4) {
	-moz-transform:rotate(3.5deg);
	-o-transform:rotate(3.5deg);
	-webkit-transform:rotate(3.5deg);
}

.pics img:nth-child(5) {
	-moz-transform:rotate(-3.5deg);
	-o-transform:rotate(-3.5deg);
	-webkit-transform:rotate(-3.5deg);
}

#prev {
	position:absolute;
	left:0;
	top:174px;
	z-index:1;
	background:url(../images/prev.png) no-repeat 0 0;
	width:83px;
	height:45px;
}

#next {
	position:absolute;
	left:495px;
	top:174px;
	z-index:1;
	background:url(../images/next.png) no-repeat 0 0;
	width:83px;
	height:45px;
}

#intro {
	float:left;
	width:396px;
}

#intro .inner {
	padding:24px 0 0 14px;
}

#intro h2 {
	font-size:48px;
	color:#06cbe2;
	line-height:40px;
	font-family:GilgongoRegular;
	font-weight:normal;
	margin-bottom:25px;
}

#intro h2 span {
	font-family:GilgongoRegular;
	color:#303030;
	display:block;
}

#intro .extra-button {
	display:inline-block;
	background:url(../images/extra-button.jpg) no-repeat 0 0;
	width:195px;
	height:73px;
	margin:15px 0 0 -10px;
	line-height:49px;
	font-size:18px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	text-indent:30px;
	text-shadow:1px 1px 0 #a61607;
}

#intro .extra-button:hover {
	text-shadow:2px 2px 0 #a61607;
}

.categories {
	box-shadow:1px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow:1px 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1);
	background-image:0;
	background-image:0;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#f4f4f4');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4')";
	margin-bottom:16px;
}

.categories li {
	position:relative;
}

.categories li:first-child a{
	border-top:none;
}

.categories > li:last-child a {
	border-bottom:none;
}

.categories li a {
	position:relative;
	display:block;
	padding: 9px 11px;
	font-size:14px;
	color:#000;
	text-decoration:none;
	font-size-adjust:0.49;
	border-bottom:1px solid #ebeae8;
	-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;

}

/*.categories li.hasChildren > a:before{
	content: " ";
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right:7px solid #DDD;
	position: absolute;
	top: 14px; right: 7px;
}

.categories li.current.hasChildren > a:before, .categories li.hasChildren:hover > a:before{
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #DDD;
	border-bottom: none;
}*/

.categories li ul{
	display: none;
}

.categories li.section ul, .categories li.current ul{
	display: block;
}

.categories li ul li a{
	color: #555;
	padding-left: 20px;
}

.categories li a:hover, .categories li.current > a{
	background: #FFFCE6; 
}

.categories li.current > a{
	font-weight: bold;
}

.categories li.section > a {
	background: #FFF;
	font-weight: bold;
}

.images {
}

.images figure {
	border:5px solid #fff;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	float:left;
	box-shadow:0 0 5px rgba(0,0,0,.1);
	-moz-box-shadow:0 0 5px rgba(0,0,0,.1);
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.1);
	margin:5px 0 0 16px;
}

.images figure:first-child {
	margin-left:0;
}

.images figure img:hover {
	opacity:.7;
	-moz-transition:all .2s ease-out;
	-o-transition:all .2s ease-out;
	-webkit-transition:all .2s ease-out;
}

#view-on-map{
	color: #000;
	text-decoration: underline;
}

.list1 li {
	padding-bottom:4px;
}

.list1 li a {
	color:#ff7c00;
}

.list1 li a:hover {
	color:#fff;
	text-decoration:underline;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	-webkit-transition:all .3s ease-out;
}

.list2 li {
	padding-bottom:4px;
}

.list2 li a {
	color:#5c5c5c;
	text-decoration:none;
}

.list2 li a:hover {
	color:#fff;
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	-webkit-transition:all .3s ease-out;
}

.list3 {
	padding-bottom:24px;
}

.list3 li {
	background:url(../images/arrow2.gif) no-repeat 0 7px;
	padding:0 0 6px 17px;
}


/* Listings (news, events etc)
/*********************************/

.listing-item{
	padding: 10px 0 20px;
	border-bottom: 1px solid #ddd;
}


/* rss
/*********************************/

.subscribe-to-list{
	position: absolute;
	right: 0; top: 0px;
}

.subscribe-to-list a{
	color: #999;
}

.subscribe-to-list a.rss{
	font-size: 20px;
	color: orange;
	position: relative;
	top: -5px;
}	

/* sidebar
/*********************************/

#sidebar h2, #sidebar h3{
	font-size: 19px;
	padding: 5px 0;
	letter-spacing: -1px;
	border-bottom: 1px solid #ddd;
	color: #666;
}

/* latest news
/*********************************/

#latestNews{
	position: relative;
}

#latestNews .rss, #latestEvents .rss{
	position: absolute;
	right: 8px; top: 8px;
	color: #FFF;
}

#latestNews .img-box{
	padding-bottom: 5px;
}


/* home page
/*********************************/

.home-col-summary{
	height: 120px;
}

/* news holder page
/*********************************/




/* latest events
/*********************************/

#latestEvents{
}

#latestEvents .boxTitle{
	background: #5C9639;
}

#latestSurveys .boxTitle{
	background: #EE7423;
}

/* something else
/*********************************/

#somethingElse{
}

#somethingElse .boxTitle{
	background: #ee7422;
}

/* events page
/*********************************/
#calendar-widgets{
	background: #efefef;
	padding-top: 20px;
}

#calendar-nav{
	padding: 20px;
}

.calendar-widget table{
	margin: 0 auto;
}

#month-jumper{
	background: #dedede;
	padding: 20px;
}

#jump-to-month{
	margin-bottom: 10px;
}

#Form_MonthJumpForm{
	overflow: hidden;
}

#Form_MonthJumpForm .field, #Form_MonthJumpForm fieldset{
	float: left;
}

#Form_MonthJumpForm .field{
	margin: 5px 10px 0 0;
}

/* zen gallery page
/*********************************/

#zen-gallery .zen-gallery-item{
	width: 33%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

#zen-gallery .zen-gallery-item img{
	max-width: 100%
}

#zen-gallery .zen-gallery-item .album-inner{
	margin: 10px;
	padding: 10px;
	
}

#zen-gallery .zen-gallery-item h3{
	margin-bottom: 5px;
}

	
/*===== footer =====*/
footer{
	background: #222;
}

footer .container {
	color:#fff;
	line-height:1.2em;
	padding:16px 0;
}

footer .copy {
	float:left;
}

footer .copy a {
	color:#fff;
	text-decoration:none;
}

footer .copy a:hover {
	-moz-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	-webkit-transition:all .3s ease-out;
	color:#ee7422;
}

footer .phone {
	float:right;
	font-style:normal;
}

footer .phone strong {
	font-weight:normal;
	color:#FF8D0D;
}

/* Search Page */

#SearchResults li{
	margin-bottom: 22px;
}


	
/*----- forms -----*/
#SearchForm_SearchForm {
	float:right;
	position:relative;
}

#SearchForm_SearchForm fieldset {
	border:none;
}

#SearchForm_SearchForm input[type=text] {
	background:#fff;
	width:195px;
	border:none;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	padding:4px 25px 5px 8px;
	box-shadow:rgba(0,0,0,.2) 2px 2px 2px inset;
	-moz-box-shadow:rgba(0,0,0,.2) 2px 2px 2px inset;
	-webkit-box-shadow:rgba(0,0,0,.2) 2px 2px 2px inset;
	background:url(../images/search-bg.gif) no-repeat 100% 7px #fff;
}

#SearchForm_SearchForm input[type=submit] {
	width:20px;
	height:20px;
	position:absolute;
	right:5px;
	top:0;
	border:none;
	background:none;
	cursor:pointer;
}

#searchPageForm{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #DDD;
}

#searchPageForm input.submitButton{
	margin-left: 44px;
}

#searchPageForm .fieldRow .field{
	/*width: 180px;*/
}

#contacts-form fieldset {
	border:none;
	width:100%;
	overflow:hidden;
	display:block;
	line-height:16px;
}

#contacts-form label {
	display:block;
	height:44px;
	overflow:hidden;
	text-indent:4px;
}

#contacts-form input {
	color:#fff;
	border:1px solid #444343;
	background:rgba(204,204,204,.05);
	padding:2px 0 2px 5px;
	width:210px;
	margin-left:3px;
}

#contacts-form input:focus {
	border-color:#fff;
}

#contacts-form textarea {
	color:#fff;
	border:1px solid #444343;
	background:rgba(204,204,204,.05);
	padding:2px 0 2px 5px;
	width:210px;
	overflow:auto;
	height:102px;
	margin-bottom:12px;
}

#contacts-form textarea:focus {
	border-color:#fff;
}

#contacts-form .link1 {
	float:right;
	margin-left:11px;
}

/*Pagination*/

#PageNumbers{
	color: #999;
	padding: 6px 12px;
	background: #EFEFEF;
	border-top-left-radius:8px;
	-moz-border-top-left-radius:8px;
	-webkit-border-top-left-radius:8px;
}

/* MISC
/*********************************/

.hr{
	height: 0px;
	border-bottom: 1px solid #DDD;
	margin: 0 0 15px;
}

.indent{
	text-indent:-10000px;
}

/* ICONS
/*********************************/

.pdf {
	padding: 2px;
	padding-left: 20px;
	background: url(../images/icons/page_white_acrobat.png) no-repeat left center;
}

.socicon{
	position: relative;
	padding: 10px 0 10px 40px;
	line-height: 40px;
	
}

.socicon:before {
	content: " ";
	position: absolute;
	top: 0;
    background: url("../images/social-sprite.png") repeat scroll 0 0 transparent;
    display: block;
    height: 32px;
    width: 34px;
}

.facebook:before{background-position: -126px 0px;}
.twitter:before{background-position: -417px 0px;}
.newsletter:before{background-position: -84px 0px;}
.rss:before{background-position: -294px 0px;}
.youtube:before{background-position: 32px 0px;}
.flickr:before{background-position: 48px 0px;}

/*.socicon:hover:before {
	background-position-y: 0px;
}*/
	
/*==========================================*/

#topHeading{
	padding-top: 0;
}
	

/* Newsletter Subscription */

h4#Form_Form_MemberInfo{
	font-size: 20px;
	margin-bottom: 20px;
}
	
.add-bottom{
	margin-bottom: 16px;
}
	
.half-bottom{
	margin-bottom: 8px;
}
	
	
	
	
	
	
